html{
	height: 100%;
}

body{
	background: #dbb775;
	display: flex;
	justify-content: center;
}

h1{
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	padding-left: 0px;
	width: 75%;
	margin: auto;
}

li{
	background: #ffd966;
	border: 1px solid white;
}

a{
	font-family: sans-serif;
	font-size: 30px;
	width: 100%;
	margin: auto;
	text-decoration: none;
	color: #000000;
}

a:hover{
	background: #d05a5a;
	width: 100%;
	margin: auto;
	display:inline-block;
}

.main-content{
	background: white;
	text-align: center;
	width: 75%;
	margin: auto;
	border-top: 10px solid transparent;
	border-bottom: 60px solid transparent;
}

.canvas-content{
	background: white;
}
